<div class="nebula-container">

  <div class="main-box">
    <button class="btn-regresar" routerLink="/home">
      ⬅ Volver a la pagina principal
    </button>
    <h1 class="page-title">Mis Categorias</h1>

    <div class="form-box">

      <h2 class="form-title">{{ editando ? 'Editar Categoría' : 'Nueva Categoria' }}</h2>

      <div class="input-group">
        <label>Nombre</label>
        <input 
          type="text" 
          placeholder="Nombre de la categoria" 
          [(ngModel)]="nuevaCategoria.name" />
      </div>

      <div class="input-group">
        <label>Descripcion</label>
        <input 
          type="text" 
          placeholder="Descripcion de la categoria" 
          [(ngModel)]="nuevaCategoria.description" />
      </div>

      <div class="input-group">
        <label>Color</label>
        <input 
          type="text" 
          placeholder="#39ff14" 
          [(ngModel)]="nuevaCategoria.color" />
      </div>

      <div class="input-group">
        <label>Icono</label>
        <input 
          type="text" 
          [(ngModel)]="nuevaCategoria.icon" />
      </div>

      <p class="error-msg" *ngIf="errorCategoria">{{ errorCategoria }}</p>

      <p class="success-msg" *ngIf="mensajeExito">{{ mensajeExito }}</p>

      <div style="display: flex; gap: 10px;">
        <button class="btn-principal" (click)="editando ? actualizarCategoria() : crearCategoria()">
          {{ editando ? 'Guardar Cambios' : 'Crear Categoria' }}
        </button>
        <button class="btn-eliminar" *ngIf="editando" (click)="cancelarEdicion()" style="background: #555;">
          Cancelar
        </button>
      </div>

    </div>

    <div class="list-box">

      <h2 class="form-title">Lista de Categorias</h2>

      <p class="empty-msg" *ngIf="categorias.length === 0">
        No hay Categorias Todavia
      </p>

      <div class="category-item" *ngFor="let categoria of categorias">

        <div class="category-info">
          <span class="category-icon">{{ categoria.icon }}</span>
          <span class="category-color" [style.background]="categoria.color"></span>
          <span class="category-name">{{ categoria.name }}</span>
          <span class="category-desc">{{ categoria.description }}</span>
        </div>

        <div style="display: flex; gap: 8px;">
          <button class="btn-principal" style="padding: 5px 10px; font-size: 14px;" (click)="seleccionarParaEditar(categoria)">
            Editar
          </button>
          <button class="btn-eliminar" (click)="eliminarCategoria(categoria.id)">
            Eliminar
          </button>
        </div>

      </div>

    </div>

  </div>

</div>